@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-SemiBold-CwNhtc02.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular-Bsp27a9e.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-SemiBold-CwNhtc02.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: RF Dewi Extended;
    src: url(../fonts/RFDewiExtended-Ultrabold-BI_agjYP.ttf);
    font-weight: 400;
    font-style: normal;
}