header {
  background: rgb(244, 248, 250);
}

.header__wrapper {
  display: flex;
  padding-top: 24px;
  align-items: center;
  justify-content: space-between;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 784px;
}

.val__menu__list {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.val__menu__list:hover {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.val__menu__list__exit {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.val__menu__list__exit:hover {
  color: rgb(38, 41, 49);
}

.exit {
  width: 20px;
  height: 20px;
}

.val__exit {
  display: flex;
  gap: 8px;
  padding: 9px 0;
}

.log__system {
  background: rgb(244, 248, 250);
  padding-top: 13px;
  overflow: hidden;
}

.wrapper__log__system {
  position: relative;
  padding: 115px 0 144px 0;
}

.hexagon {
  width: 1191.76px;
  height: 1017.56px;
}

.img1 {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 446px;
}

.log__system__text,
.log__system__form {
  position: relative;
  z-index: 2;
}

.blue {
  color: rgb(1, 118, 255);
}

.title__log__system {
  font-family: RF Dewi Extended;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

.par1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
  max-width: 511px;
}

.gray {
  color: rgb(63, 65, 74);
  font-weight: bold;
}

.become__partner {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  padding: 16px 32px 16px 32px;
  border-radius: 72px;
  background: rgb(1, 118, 255);
  max-width: 202px;
}

.become__partner:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 16px 32px 16px 32px;
  border-radius: 72px;
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5);
  background: rgb(20, 113, 222);
}

.log__system__text {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.form1 {
  display: flex;
}

.log__system__form {
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 48px 40px 48px;
  width: 100%;
  max-width: 487px;
  gap: 40px;
}

.log__system__title2 {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.sec2 {
  width: 100%;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 12px 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 389px;
  width: 100%;
  margin-bottom: 24px;
}

.log:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 8px 16px 8px;
  box-sizing: border-box;
  border: 1px solid rgb(97, 99, 109);
  border-radius: 30px;
  background: rgb(255, 255, 255);
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 12px 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 389px;
  width: 100%;
}

.password:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 8px 16px 8px;
  box-sizing: border-box;
  border: 1px solid rgb(97, 99, 109);
  border-radius: 30px;
  background: rgb(255, 255, 255);
}

.eye {
  width: 100%;
  height: 100%;
}

.pas__form {
  display: flex;
  position: relative;
  max-width: 389px;
  width: 100%;
}

.img2 {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
}

.recover {
  display: inline-block;
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  align-self: flex-start;
  margin-left: 8px;
  margin-top: 8px;
}

.recover:hover {
  color: rgb(38, 41, 49);
}

.enter {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 16px 40px 16px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: rgb(255, 255, 255);
  margin-bottom: 16px;
  justify-content: center;
  width: 128px;
}

.enter:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 16px 40px 16px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: rgb(1, 118, 255);
}

.par2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(159, 161, 173);
}

.reg {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(1, 118, 255);
}

.reg:hover {
  color: rgb(23, 82, 151);
}

.no__akk {
  display: flex;
}

.sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__project__wrapper {
  display: flex;
  gap: 253px;
  padding-top: 95px;
  padding-bottom: 167px;
  justify-content: space-between;
}

.about__project {
  background-image: url(../img/Bar\ chart.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.about__project__title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  padding: 15px 0 0 0;
  margin-bottom: 32px;
}

.about__project__text {
  display: flex;
  flex-direction: column;
  max-width: 487px;
}

.text__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stripes {
  display: flex;
  margin-top: 82px;
}

.comp {
  width: 100%;
  height: 100%;
}

.par3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
}

.how__it__works {
  background: rgb(244, 248, 250);
}

.how__it__works__wrapper {
  padding-top: 136px;
}

.how__it__works__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  color: black;
  margin-bottom: 64px;
}

.content {
  display: flex;
  max-width: 1199.43px;
  max-height: 576px;
  margin-bottom: 32px;
  position: relative;
  padding-top: 44px;
}

.content__title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.par4 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.group1 {
  display: flex;
  flex-direction: column;
  gap: 104px;
  position: relative;
  margin-right: 27px;
}

.way1 {
  position: absolute;
  z-index: 2;
  top: 240px;
  left: 230px;
}

.group2 {
  display: flex;
  flex-direction: column;
  gap: 98px;
  position: relative;
  margin-right: 47px;
}

.way2 {
  position: absolute;
  z-index: 2;
  top: 237px;
  right: 467px;
}

.group3 {
  display: flex;
  flex-direction: column;
  gap: 168px;
  position: relative;
  margin-right: 50px;
}

.way3 {
  position: absolute;
  z-index: 2;
  top: 245px;
  right: 226px;
}

.group4 {
  display: flex;
  flex-direction: column;
  gap: 87px;
  position: relative;
  margin-bottom: 79px;
}

.pad1 {
  padding: 0 84px 0 0;
  height: 100%;
}

.pad3 {
  max-width: 206px;
  margin-right: 52px;
}

.pad4 {
  padding-left: 47px;
}

.fr__im {
  padding-top: 35px;
  padding-right: 30px;
}

.butt__partner {
  display: flex;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  padding: 16px 32px 16px 32px;
  border-radius: 72px;
  background: rgb(1, 118, 255);
  max-width: 202px;
}

.btt1 {
  display: flex;
  justify-content: center;
}

.about__bitcoin {
  background: rgb(244, 248, 250);
  padding: 144px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.video__bitcoin {
  position: relative;
}

.about__bitcoin__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.par5 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(97, 99, 109);
  max-width: 671px;
  margin: 0 auto 56px;
}

.run__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 16px 0px rgb(0, 0, 0);
  background: rgb(249, 251, 252);
  width: 72px;
  height: 72px;
  border-radius: 50px;
}

.run__video:hover {
  background: rgb(1, 118, 255);
}

.img__run {
  position: relative;
  top: 18px;
  left: 19px;
  bottom: 19px;
  right: 18px;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
}

.registration {
  background: rgb(1, 118, 255);
  overflow: hidden;
  background-image: url(../img/F.png);
  background-repeat: no-repeat;
  background-position: 100% -64px;
  background-size: 877px 748px;
}

.registration__wrapper {
  padding: 48px 0;
  position: relative;
  z-index: 2;
}

.registration__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 821px;
}

.yellow {
  color: rgb(251, 220, 124);
}

.par10 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.reg__butt {
  display: flex;
  gap: 24px;
}

.registration__butt {
  width: 230px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  border-radius: 72px;
  background: rgb(255, 255, 255);
  padding: 16px 32px 16px 32px;
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.registration__butt:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18;
  padding: 16px 32px 16px 32px;
  border-radius: 52px;
  box-shadow: 0px 8px 16px 0px rgba(50, 73, 85, 0.3);
  background: rgb(255, 255, 255);
}

.enter__akk {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  align-self: center;
}

.registration__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.partner__support {
  background: rgb(244, 248, 250);
}

.partner__support__wrapper {
  padding-top: 166px;
  padding-bottom: 103px;
  background-image: url(../img/Asset\ 1\ 4.png);
  background-repeat: no-repeat;
  background-position: center 192px;
}

.partner__support__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.par11 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(97, 99, 109);
}

.par12 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(97, 99, 109);
}

.partner__support__text {
  display: flex;
  justify-content: center;
}

.column1 {
  margin-top: 160px;
  margin-right: 83px;
}

.img4 {
  margin-top: 56px;
}

.column2 {
  margin-top: 160px;
  margin-left: 65px;
}

.val1 {
  max-width: 237px;
  margin-bottom: 75px;
}

.val2 {
  max-width: 237px;
  margin-bottom: 73px;
  padding-right: 30px;
}

.val3 {
  max-width: 237px;
}

.val4 {
  max-width: 267px;
  margin-bottom: 75px;
}

.val5 {
  max-width: 269px;
  margin-bottom: 73px;
  padding-left: 18px;
}

.val6 {
  max-width: 249px;
}

.studing {
  background: rgb(244, 248, 250);
  display: flex;
  justify-content: center;
  padding-top: 21px;
  text-align: center;
}

.answers__to__questions {
  background: rgb(244, 248, 250);
}

.answer__to__questions__wrapper {
  padding-top: 144px;
  padding-bottom: 120px;
}

.answer__to__questions__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.answers__and__form {
  display: flex;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 32px;
}

.questions {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 682px;
  display: flex;
  justify-content: flex-start;
  align-self: left;
  padding: 24px;
  flex-direction: column;
}

.line {
  border: 1px solid rgb(220, 221, 229);
  width: 634px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.answer__ol {
  padding: 0 24px;
}

.par13 {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.questions {
  background-color: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 16px;
  max-width: 682px;
}
.questions[open] .questions__summaary {
  color: rgb(38, 41, 49);
}
.questions[open] .arrow {
  transform: rotate(180deg);
}

.answers__li {
  color: rgb(38, 41, 49);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.questions__summaary::marker {
  font-size: 0;
}

.questions__summaary {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.question__form {
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 48px 40px 48px;
  width: 100%;
  max-width: 485px;
  max-height: 574px;
}

.question__title {
  color: rgb(38, 41, 49);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.par14 {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.part2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 12px 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.message {
  display: flex;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  width: 100%;
  color: rgb(169, 171, 182);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.send {
  width: 166px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 16px 40px 16px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(1, 118, 255);
  border-radius: 72px;
  background: white;
}

.fixed__number {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(196, 199, 207);
  border-radius: 30px;
  padding: 0 12px;
}

.number {
  width: 100%;
  background: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(169, 171, 182);
  padding: 16px 12px 16px 1px;
  border: none;
  border-radius: 30px;
}

.prefix {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(38, 41, 49);
  display: flex;
  align-items: center;
}

.footer__wrapper {
  padding: 56px 0;
}

.footer__text {
  display: flex;
  margin-bottom: 59px;
  justify-content: space-between;
}

.par16 {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
}

.footer__text__li {
  color: rgb(97, 99, 109);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
}

.footer__text__li:hover {
  color: rgb(0, 0, 0);
}

.par17 {
  color: rgb(159, 161, 173);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  width: 100%;
}

.footer__text1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.footer__text2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.footer__text3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.footer__text4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px 8px;
}

.footer__text5 {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
}/*# sourceMappingURL=style.css.map */