.answers__to__questions {
  background: rgba(244, 248, 250, 1);
}
.answer__to__questions__wrapper {
  padding-top: 144px;
  padding-bottom: 120px;
}
.answer__to__questions__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.answers__and__form {
  display: flex;
  align-items: flex-start;
}
.answers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 32px;
  flex: 1 1 682px;
}

.line {
  border: 1px solid rgba(220, 221, 229, 1);
  margin-bottom: 16px;
}
.answer__ol {
  padding: 0 24px;
}

.par13 {
  color: rgba(38, 41, 49, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.answers__li {
  color: rgba(38, 41, 49, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.questions__summaary::marker {
  font-size: 0;
}
.questions__summaary {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
  border-radius: 16px;
}
.question__text__wrapper {
  background: white;
  border-radius: 0 0 16px 16px;
  padding: 0 24px 24px;
}

.question__form {
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1);
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 48px 40px 48px;
  flex: 1 1 485px;
}

.question__title {
  color: rgba(38, 41, 49, 1);
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.par14 {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}
.part2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(196, 199, 207, 1);
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  color: rgba(169, 171, 182, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  transition: all 0.3s ease;
}
.name:hover {
  box-sizing: border-box;
  border: 1px solid, rgba(97, 99, 109, 1);
}
.message {
  display: flex;
  padding: 16px 20px 16px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(196, 199, 207, 1);
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  color: rgba(169, 171, 182, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  transition: all 0.3s ease;
  resize: none;
}
.message:hover {
  border: 1px solid, rgba(97, 99, 109, 1);
}
.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  border: 1px solid rgba(1, 118, 255, 1);
  border-radius: 72px;
  background: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}
.send:hover {
  background: rgba(1, 118, 255, 1);
  color: white;
}
.fixed__number {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(196, 199, 207, 1);
  border-radius: 30px;
  padding: 0 20px;
  transition: all 0.3s ease;
}
.fixed__number:hover {
  box-sizing: border-box;
  border: 1px solid, rgba(97, 99, 109, 1);
}
.number {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(169, 171, 182, 1);
  padding: 16px 20px 16px 0;

  border: none;
  border-radius: 30px;
}

.prefix {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(38, 41, 49, 1);
  display: flex;
  align-items: center;
}
.questions {
  &[open] {
    & .questions__summaary {
      color: rgba(38, 41, 49, 1);
      border-radius: 16px 16px 0 0;
    }
    & .arrow {
      transform: rotate(180deg);
    }
  }
}

.message__mobail {
  display: none;
}
@media (max-width: 992px) {
  .answers {
    flex: 1 1 296px;
    margin-right: 0;
  }
  .answers__and__form {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .answer__to__questions__title {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 29px;
  }
  .questions__summaary {
    font-size: 14px;
    padding: 12px 24px;
    gap: 10px;
  }
  .par13 {
    font-size: 14px;
  }
  .answers__li {
    font-size: 14px;
  }
  .answer__to__questions__wrapper {
    padding-top: 64px;
    padding-bottom: 128px;
  }
  .question__title {
    font-size: 16px;
    margin-bottom: 12px;
    
  }
  .par14 {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .name {
    padding: 12px 20px;
    font-size: 14px;
  }
  .prefix {
    font-size: 14px;
  }
  .number {
    padding: 12px 0;
    font-size: 14px;
  }
  .message {
    display: none;
  }
  .message__mobail {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(196, 199, 207, 1);
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    color: rgba(169, 171, 182, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    transition: all 0.3s ease;
  }
  .message__mobail:hover {
    border: 1px solid, rgba(97, 99, 109, 1);
  }
  .question__form {
    width: 100%;
  }
  .part3 {
    width: 100%;
  }
  .part2 {
    gap: 12px;
    margin-bottom: 18px;
  }
  .send {
    width: 100%;
  }
}
