header{
 background: rgba(244, 248, 250, 1);
}

.header__wrapper {
  display: flex;
 padding-top: 24px;
 align-items: center;        
  justify-content: space-between;
}
.menu__list {
  display: flex;
  margin: 0 91px 0 91px;
  padding: 9px 0;
}
.val__menu__list {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.menu__list{
  display: flex;
  justify-content: space-between;
  gap:56px;
}
.val__menu__list__exit{
  color:  rgba(38, 41, 49, 1);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.exit{
  width: 20px;
  height: 20px;
}
.val__exit{
display: flex;
gap: 8px;
padding: 9px 0;
}