header {
  background: rgba(244, 248, 250, 1);
}

.header__wrapper {
  display: flex;
  padding-top: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 784px;
}
.val__menu__list {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}
.val__menu__list:hover {
  color: rgba(38, 41, 49, 1);
}
.menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.val__menu__list__exit {
  color: rgba(38, 41, 49, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}
.val__menu__list__exit:hover {
  color: rgba(38, 41, 49, 1);
}
.exit {
  width: 20px;
  height: 20px;
}
.val__exit {
  display: flex;
  gap: 8px;
  padding: 9px 0;
}
.menu__burger {
  display: none;
}
.contacts {
  display: none;
}

.authorization {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  box-sizing: border-box;
  border: 1px solid rgba(1, 118, 255, 1);
  border-radius: 72px;
  background: rgba(1, 118, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.a__number {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.a__address {
  color: rgba(97, 99, 109, 1);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 992px) {
  .menu__header {
    display: none;
  }

  .val__exit {
    display: none;
  }

  .header__wrapper {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background: none;
    z-index: 1;
    transition: all 0.4s ease;
    z-index: 4;
  }
  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    left: 0;
    background: black;
    transition: all 0.4s ease;
  }
  .menu__burger span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
  .menu__burger::after,
  .menu__burger::before {
    content: "";
    transition: all 0.3s ease;
  }
  .span__burger {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger__active {
    display: block;
    & .span__burger {
      display: none;
    }
    &::after {
      top: 44%;
      transform: rotate(45deg);
    }
    &::before {
      top: 45%;
      transform: rotate(-45deg);
    }
  }
  .menu__header__burger__active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(244, 248, 250, 1);
    flex-direction: column;
    flex: initial;
    justify-content: initial;
    gap: 40px;
    align-items: center;
    padding-top: 86px;
  }
  .authorization {
    display: flex;
    max-width: 272px;
    width: 100%;
   
  }
  .contacts {
    display: flex;
     flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .val__menu__list {
    color: rgba(38, 41, 49, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .header__wrapper a{
    position: relative;
    z-index: 4;
  }
}
