.partner__support {
  background: rgba(244, 248, 250, 1);
}
.partner__support__wrapper {
  padding-top: 166px;
  padding-bottom: 103px;
  background-image: url(../img/Asset\ 1\ 4.png);
  background-repeat: no-repeat;
  background-position: center 192px;
}
.partner__support__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.par11 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(97, 99, 109, 1);
}
.par12 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(97, 99, 109, 1);
}
.partner__support__text {
  display: flex;
  justify-content: center;
}
.column1 {
  padding-top: 160px;
  margin-right: 83px;
}
.img4 {
  margin-top: 56px;
}
.column2 {
  padding-top: 160px;
  margin-left: 65px;
}
.val1 {
  max-width: 237px;
  margin-bottom: 75px;
}
.val2 {
  max-width: 237px;
  margin-bottom: 73px;
  padding-right: 30px;
}
.val3 {
  max-width: 237px;
}
.val4 {
  max-width: 267px;
  margin-bottom: 75px;
}
.val5 {
  max-width: 269px;
  margin-bottom: 73px;
  padding-left: 18px;
}

.val6 {
  max-width: 249px;
}
@media (max-width: 992px) {
  .partner__support__wrapper {
    padding-top: 64px;
    padding-bottom: 33px;
  }
  .partner__support__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }
  .partner__support__title {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 22px;
    text-align: left;
  }
  .column1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    flex: 1 1 296px;
    order: 1;
  }
  .column2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    flex: 1 1 296px;
    order: 2;
  }
  .img4 {
    order: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../img/Asset\ 1\ 4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1 1 296px;
    margin-top: 8px;
  }
  .people{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 209px;
  }
  .partner__support__wrapper {
    background-image: none;
  }
  .par11::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: #0176ff;
    border-radius: 50%;
  }
  .par12::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    background: #0176ff;
    border-radius: 50%;
  }

  .par11 {
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    text-align: left;
  }
  .par12 {
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    text-align: left;
  }
  .val1 {
    margin-bottom: 0;
    max-width: none;
  }
  .val2 {
    margin-bottom: 0;
    max-width: none;
    padding-right: 0;
  }
  .val3 {
    margin-bottom: 0;
    max-width: none;
  }
  .val4 {
    margin-bottom: 0;
    max-width: none;
  }
  .val5 {
    margin-bottom: 0;
    max-width: none;
  }
  .val6 {
    margin-bottom: 0;
    max-width: none;
  }
}
