.registration {
  background: rgba(1, 118, 255, 1);
  overflow: hidden;
  background-image: url(../img/F.png);
  background-repeat: no-repeat;
  background-position: 100% -64px;

  background-size: 877px 748px;
}
.registration__wrapper {
  padding: 48px 0;
}

.registration__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  max-width: 821px;
}
.yellow {
  color: rgba(251, 220, 124, 1);
}
.par10 {
  color: rgba(255, 255, 255, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.reg__butt {
  display: flex;
  gap: 24px;
}
.registration__butt {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  border-radius: 72px;
  background: rgba(255, 255, 255, 1);
  padding: 16px 32px 16px 32px;
  color: rgba(38, 41, 49, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.3s ease;
}
.registration__butt:hover {
  box-shadow: 0px 8px 16px 0px rgba(50, 73, 85, 0.3);
  background: rgba(255, 255, 255, 1);
}
.enter__akk {
  color: rgba(255, 255, 255, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  align-self: center;
}
.registration__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 992px) {
  .registration {
    background-image: none;
  }
  .registration__wrapper {
    padding-top: 24px;
    padding-bottom: 20px;
  }
  .registration__title {
    font-size: 18px;
  }
  .par10 {
    font-size: 14px;
    & br {
      display: none;
    }
  }
  .reg__butt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    align-self: center;
    width: 100%;
  }
  .registration__text {
    display: flex;
    gap: 24px;
  }
  .registration__butt {
    padding: 12px 32px 12px 32px;
   width: 100%;
  }
  .enter__akk {
    font-size: 14px;
  }
}
