.studing{
  background: rgba(244, 248, 250, 1);  
  display: flex;
  justify-content: center;
  padding-top: 21px;
  text-align: center;
}
@media(max-width:992px){
  .title__studing{
    margin-bottom: 32px;
  }
}