@use "./header";
@use "./logsystem";
@use "./aboutproject";
@use "./howitworks";
@use "./aboutbitcoin";
@use "./registration";
@use "./partnersupport";
@use "./studing";
@use "./answertoquestion";
.container{
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 12px;
}


